#content{
    max-width: 1600px;
}
nav  { 
    background-color: #E7C24F; 
    text-align: center; 
    margin-top: -150px; 
    padding-top: 50px; 
    padding-bottom: 40px;
} 
.logo{
    width: 100px;
    height: 100px; 
    padding-left: 30px; 
    padding-bottom: 35px; 
    padding-top: 10px;
} 
nav a{ 
    color: #396E94;
    padding: 10px;  
    padding-left: 80px;
    text-decoration: none; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    font-size: 1.5em; 
}   
nav a:hover{
    color: black;
}
body{
    margin: 0 auto; 
}
img{
    max-width: 100%;
}

.page3pic-title{  
    color:#E7C24F ; 
    text-align: center; 
    padding-left: 400px; 
    margin-top: -300px;
    border-style: double;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3em;
} 
.button-box{
    text-align: center; 
    font-size: 2em; 
    margin-top: -900px; 
    margin-bottom: 500px;
} 
.discuss{ 
    background-color: white;
    color: darkred;  
    text-decoration: none;  
    font-size: 20px;  
    padding: 15px 30px;   
    border-style: solid;
    border-radius: 10px; 
    box-shadow: 5px 5px 5px rgb(61, 61, 206);
}  
.discuss:hover{
    background-color: #396E94;  
} 
 
.join{
    text-align: center;   
    margin-left: 90px;  
    background-color: #396E94;
    color: #396E94;  
    text-decoration: none;  
    font-size: 20px;  
    padding: 15px 30px;  
    border-style: solid;
    border-radius: 10px; 
    box-shadow: 5px 5px 5px rgb(61, 61, 206);
} 
.join:hover{
    background-color: #396E94; 
}
.page3-img{
    width: 100%;  
    margin-bottom: 100px;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 100px;
}
.scene{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 1/3;
    

}
.scene img{
    grid-column: 1/2;
    
    
}
.spokes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 2/4;
    

}
.spokes img{
    grid-column: 1/2;
  
}
.spokes p{
    grid-column: 2/3;
    padding: 20px;
    font-size: 1.5em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #396E94;
}
.scene p{
    grid-column: 2/3;
    padding: 20px;
    font-size: 1.5em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color : #396E94;
}

footer {
    background-color:#E7C24F;
    color: #396E94;
    margin-top: 200px; 
    padding-bottom: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    color: #396E94; 
    text-decoration: none;
    padding: 22px 0px;
    font-size: 1.5em;
}
footer a:hover {
    color: #396E94;
}  

footer p {
    font-size: 1.5em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
}

footer p a:hover {
    text-decoration: none
}
footer .social img {
    padding-top: 15px; 
} 
@media screen and (max-width: 900px) {

    .page3pic, .page3-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    .page3pic {
        margin-top: 0;
    }
    .page3pic-msg {
        margin-top: 0;
    }
    #page3pic-msg h4 {
        display: none;
    }
    
    #background {
        display: none;
    }
    
    footer {
        margin-top: 25px; 
    }
}

