nav  { 
    background-color: #E7C24F; 
    text-align: center; 
    margin-top: -160px; 
    padding-top: 50px; 
    padding-bottom: 50px;
    
} 
.logo{
    width: 100px;
    height: 100px; 
    padding-left: 30px; 
    padding-bottom: 35px; 
    padding-top: -5px;
} 
nav a{ 
    color: #396E94;
    padding: 10px;  
    padding-left: 80px;
    text-decoration: none; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    font-size: 1.5em; 
}   
nav a:hover{
    color: #A43312;
} 
body{
    width: 100%
    
} 
#hero-img{
    width: 100%;
}
img{
    max-width: 100%;
}
 


/* The hero image layout */
.homepic-image {
  background-size: 100% 400px;
  flex-wrap: wrap;
  background-image: url("../photos/homepage-feet.jpeg");
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.homepic-text p{ 
    background-color: #E7C24F;
    color: black; 
    font-size: 35px;
}
.discuss{ 
    background-color: #E7C24F;
    color: #E7C24F;
    font-size: 1.5em;  
    border: 3px #A43312;
    border-radius: 10px; 
    box-shadow: 5px 5px 10px black;
}  
.discuss:hover{
    opacity: .6;
    transform: scale(1.1); 
}
 
/* body images layout */
.column {

    width: 20px;
    padding: 0 10px;
    padding-top: 0px;

  }
  
  /* .pick-fun {
    display: flex;
    background-image: url("../photos/homepage pick.jpeg");
    height: 1100px;
    width: 100%;
    position: right;
    padding-left: 30px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-size: cover; */
  
  .row {
    display: flex;
    background-image: url("../photos/homepage-jumping.jpeg");
    height: 1100px;
    width: 100%;
    background-size: cover;
    position: left;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
  }
  
  .column { 
    flex: 66%;
    margin: 30px; 
    margin-top: 5px;  
    padding-left: 10px;
  } 
  .pick{
    flex: 66%;
    margin: 30px; 
    margin-top: 5px;  
    padding-left: 0px;
  }

section h6{   
    color:#E7C24F; 
    font-size: 1.5em;  
    font-family: 'Rock Salt', 'Times New Roman', Times, serif;
    line-height: 1.5;
    margin-top: 0px;   
    margin-bottom: 0px;
    padding-left: 10px;
    padding-right: 800px; 
    flex-wrap: wrap;
    padding-bottom: 50%;
    padding-top: 3%;
    word-spacing: 5px;
    
}
  
h3{
     
    font-size: 25px; 
    font-family:'Times New Roman', Times, serif;
    color: #396E94;
    background-color: #E7C24F; 
    text-align: center;
    opacity: .9;
    display: block;
    word-spacing: 8px;
}
h2{
    font-size: 21px; 
    font-family: 'Rock Salt', 'Times New Roman', Times, serif;
    color: white; 
    text-align: center; 
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10px;

} 
h1{
    color: white;
    font-size: 250px;
    text-align: center;
    margin: 0px;
}
p{
    color: white;
    font-size: 20px;
    text-align: center;
}

 



/* beginning of the profile card */
  .scenery {  
    background-image: url("../photos/homepage-scenery.jpeg");
    background-size: 100% 400px;
    height: 1800px;
    max-width: 100%; 
    margin: 0px;  
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    background-size: cover;
    position: relative;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
  }
  .title {
    color: #A43312;
    font-size: 18px;
  } 

  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  
  .card :hover{
    opacity: .6;
    transform: scale(1.1); 
}
 
footer {
    z-index: 3;
    background-color: #E7C24F;
    color:#396E94 ;
    margin-top: 0px;  
    padding-bottom: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
} 
footer a { 
    margin-bottom: 60px;
    color: #396E94; 
    text-decoration: none;
    padding: 25px 0px;
}
footer a:hover {
    color: #A43312;
}  

footer p {
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    color: #396E94;
}

footer p a:hover {
    text-decoration: none
}
footer .social img {
    padding-top: 15px;
} 

@media screen and (max-width: 900px) {

    .homepic, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    .homepic {
        margin-top: 0;
    }
    .homepic-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .homepic-title {
        font-size: 25px;
        color: #E7C24F;
    }
    
    #background {
        display: none;
    }
    .family, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 0px;
    }
}





  

